<!DOCTYPE html>
<html>
	<head>

		<meta name="viewport" content="width=device-width">
		<link rel="apple-touch-startup-image" href="launch6.png" media="(device-width: 375px)">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<link rel="stylesheet" href="style.css" title="UMI Style" type="text/css" media="screen" charset="utf-8">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script>
			$(document).ready(function(){
			    var email,pass;
			    $("#submit").click(function(){
			        user=$("#email").val();
			        pass=$("#password").val();
			        /*
			        * Perform some validation here.
			        */
			        
			        $.post("/login",{user:email,user:pass},function(data){        
			            if(data==='done')           
			            {
			                window.location.href="/app";
			            }
			        });
			    });
			});
		</script>
		<script src="scream/dist/scream.js"></script>
	    <script src="brim/dist/brim.js"></script>
	    <script>
		    window.addEventListener('DOMContentLoaded', function () {
		        var scream,
		            brim;
		
		        scream = gajus.Scream({
		            width: {
		                portrait: 375,
		                landscape: 640
		            }
		        });
		
		        brim = gajus.Brim({
		            viewport: scream
		        });
		    });
	</script>
	</head>
	<body>
		<!<div id="brim-mask">
	        <!-- Content displayed to the user when in full view. -->
	    <!</div>
	    <!<div id="brim-main">
	        <!-- Content displayed to the user when in minimal view.  -->
	        <div id="login" class="view">
				<div class="view_wrapper">
					<div id="logo">
					</div>
					<div id="form">
						<form>
							<input type="text" placeholder="USERNAME" id="username" class="login_field">
							<input type="password" placeholder="PASSWORD" id="password" class="login_field">
							<button id="submit" type="submit" onclick="return false;">Login</button>
							<div id="alternate_entrance"><span>or <a href="/register">Register</a></span></div>
						</form>
					</div>
				</div>
			</div>
	    <!</div>
	</body>
</html>